APP_ID        = "123456"
CLIENT_ID     = "Iv1.exampleclientid"
CLIENT_SECRET = "example-client-secret"
PRIVATE_KEY   = <<EOT
-----BEGIN RSA PRIVATE KEY-----
example-private-key
-----END RSA PRIVATE KEY-----
EOT

# Override only if 172.18.0.250 collides with another docker bridge address on your host.
envoy_lb_ip = "172.18.0.250"
